{% load static %}
<footer class="custom-footer">
    <!-- Decorative Images -->
    <img src="{% static 'images\leaf4.png' %}" class="footer-leaf-left-up" alt="Leaf Decoration">
    <img src="{% static 'images\footer1.png' %}" class="footer-leaf-left-down" alt="Leaf Decoration">
    <img src="{% static 'images\footer2.png' %}" class="footer-leaf-right" alt="Leaf Decoration">
    <img src="{% static 'images\footer3.png' %}" class="footer-plant" alt="Plant Decoration">

    <!-- Footer Content -->

    <div class="footer-container">
        <div class="footer-section">
            <div class="footer-toggle">About Sproutify</div>
            <div class="footer-content">
                <p>At Sproutify, we believe in nurturing nature the way it was meant to grow—organically and with
                    care. Our mission is to inspire greener living through sustainable practices and 100% organic
                    tree growth solutions. Whether you're starting a home garden or cultivating a lush nursery,
                    Sproutify provides the tools, knowledge, and ethically-grown plants to help your green space
                    thrive naturally. </p><br>
                <p> Join us in growing a cleaner, greener tomorrow—one <strong>Sprout</strong> at a time.</p>
            </div>
        </div>

        <div class="footer-section">
            <div class="footer-toggle">Quick Links</div>
            <div class="footer-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#product-section">Pricing</a></li>
                    <li><a href="#why-choose-us">Features</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Rules</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-section">
            <div class="footer">Get in Touch</div>
            <div class="footer">
                <p>New Egara,<br>Raniganj, WB 713347</p>
                <p>Email: sumanmalla02@gmail.com</p>
                <p>Phone: +91 90642 66209</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Sproutify. All rights reserved. Made with ❤️</p>
        </div>
    </div>
</footer>


<!-- footer end -->